<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="API">
    <test name = "BoardTest">
        <classes>
            <class name="com.trello_api.test.BoardTest">
                <methods>
                    <include name="createBoard"></include>
                    <include name="verifyBoardCreate"></include>
                    <include name="deleteBoard"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>